///COLORS
$swdf: #424242;
$db:rgb(0, 145, 234);
$mdb:rgb(58, 162, 209);
$lb:rgb(1, 164, 210);
$dg:rgb(49, 195, 134);
$lg:rgb(3, 193, 134);

//FONTS
$swf: 'Roboto', sans-serif;
$ltf:300;
$rf:400;
$mf:500;
$lf:700;
$xl:900;


body{
	color: $swdf;
	font-family: $swf;
	font-size: 100%;
	background: rgb(243, 243, 243);
}


//HEADER STYLES

	header{
		background: #fff;
	}

	.site-logo a{
		display: inline-block;
		width: 237px;
		height: 68px;
		text-indent: -9999px;
		background:transparent url('../image/logo.png') no-repeat;
		background-size: contain;
	}

	.nav-item:hover a,
	a.active-nav{
		color:$db;
	}

	.nav-item a{
		text-transform: capitalize;
		color:$swdf;
		font-size: 100%;

	}

	button.navbar-toggler{
		background: $db;
		outline: none;
		span{
			width: 20px;
    	height: 3px;
    	background: #fff;
    	display: block;
    	margin: .3em 0;
		}
	}


//*********HOME PAGE STARTS HERE****************//


	//SLIDER STYLES

	.slider{
		background:  #ececec url('../image/bg1.jpg') no-repeat 50%;
		background-size: cover;
		overflow: hidden;

		.slider-contents{
			position: relative;
		}

		.slide-container{
			height: 450px;
			padding: 0;
			margin: 0;
			overflow: hidden;

			li{
				height: 100%;
				color: #fff;
				display: flex!important;
				position: relative;


				.container{
					display: flex;
					justify-content: flex-end;
				}
			}

			li:before{
				content: "";
				background: #000;
				opacity: .4;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}

	.slider:hover{
		.jumbo-slidernav-prev{
			left: 10px;
	}

	.jumbo-slidernav-next{
			right: 10px;
	}
}



	.slider .slides{
		margin: auto 0;
		min-width: 50%;
		width: 50%;

		h2{
			font-weight: $xl;
			font-size: 188%;
		}

		p{
			font-weight: $ltf;
			font-size: 125%;
		}

		a{
			background: $db;
			font-size: 115%;
			outline: none;
			padding: .5rem 1.5rem;
		}
		a:hover{
				background: rgb(2, 211, 146);
				border-color: rgb(2, 211, 146);
			}
	}

	.jumbo-slidercontrol-nav{

		width: 100%;
  	position: absolute;
  	bottom: 10px;
  	text-align: center;
  	margin: 0;
	
		 li{
		 	list-style: none;
  	 	display: inline-block;
				
				a{
			  	text-indent: -9999px;
  				background: #d3d3d3;
			    height: 9px;
			    width: 9px;
			    display: inline-block;
			    border-radius: 50%;
			    opacity: .3;
			    margin: 0 7px 0 0;
			    transition: all .2s;
			 }

			 .jumbo-slideractive{
			 	opacity: 1;
			 	transform: scale(1.2);

			 }
		}
	}

	.jumbo-sliderdirection-nav{

		margin: 0;
	
		li{
			position: absolute;
			list-style: none;
			top: 45%;
			opacity: .4;
				transition: all .5s;

			a{
				text-indent: -9999px;
				background: url('../image/slider-arrow.png') no-repeat;
				background-size: contain;
				display: inline-block;
				height: 35px;
				width: 35px;

			}
		}

		li:hover{
			opacity: .9;
		}

		.jumbo-slidernav-prev{
			left: -10%;
			transform: rotate(-90deg);
		}

		.jumbo-slidernav-next{
			right: -10%;
			transform: rotate(90deg);
		}

	}


	///LATEST NEWS

	.title{
		font-weight: $mf;
		font-size: 138%;
		text-transform: capitalize;
	}



	.heading{
		font-weight: $lf;
		font-size: 165%;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 24px;
	}

	.latest-news-section{
		height: 150px;
		margin: 50px auto;
		
		.container{
			height: 100%;
		}
		.news-wrap{
			height: 100%;
		box-shadow: 0px 1px 32.55px 2.45px rgba(35, 31, 32, 0.28);
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		}
	}

	.latest-news-title{
		background: $dg;
		height: 100%;
		width: 200px;
		display: inline-flex;
		position: relative;
		vertical-align: middle;

		.news-title-wrap{
			margin: auto;
			text-align: center;

		  .title{
		  	color: #fff;
		  }

			img{
				margin-bottom: 16px;
			}
		}
	}

	.latest-news-title:before{
		content: " ";
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		background: $dg;
		position: absolute;
		top: 45%;
		right: -10px;
	}

	.latest-news{
		width: calc(100% - 250px);
		display: inline-flex;
		margin: 0 auto;
		overflow: hidden;

		.latest-newsviewport{
			display: flex;
		}

		ul{
			margin: 0;
			padding: 0;
			display: flex;

			li{
				text-align: center;
				padding-right: 10px;
				margin: auto 0px;
				border-right: 1px dotted $swdf;
				width: 230px;
    		list-style-type: none;

				a{
					color: $swdf;
					font-weight: $ltf;
				}

				a:hover{
						text-decoration: none;
						color: $db;
					}

			}
		}
	}

	//KNOW US

	.know-us-section{
		margin-bottom: 30px;
	}

	.know-us{
		background: $mdb;
		box-sizing: border-box;
		border-top: 12px solid rgb(50, 141, 181);
		color: #fff;
		min-height: 300px;

		h3{
			font-weight: $rf;
			font-size: 150%;
			text-transform: capitalize;
			position: relative;
			padding: 25px 0 7px;
			margin-bottom: 10px;
		}
		h3:after{
			content: "";
			width: 13%;
			height: 4px;
			background: $lg;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all .5s ease-in-out;

		}

		p{
			font-weight: $ltf;

		}

		.know-us-inner-wrap{
			margin-left: 15px;
		}
	}

	.know-us:hover{
		h3:after{
			width: 35%;
		}
	}
	
	//Testimonials



	.testimonials-section{
		margin-bottom: 50px;

		.row{
			height: 300px;
		}

		.col-lg-8.col-md-6{
			
		}
		.subtitle{
			background: url('../image/student.jpg') no-repeat 50% ;
			position: relative;
			background-size: cover;
			width: 100%;
			height: 100%;
			display: flex;

			h3{
				margin: auto;
				color: #fff;
				padding: 50px;
				background: rgba(3, 193, 134,.8);
			}
		}

		.testimonials{
			width: 100%;
			height: 100%;
			background: url('../image/exclaim.png') 4% 4% no-repeat,url('../image/exclaim.png') 96% 96% no-repeat;
			background-color: #fff;

			ul{
				height: 100%;
				margin: 0;
				padding: 0 10px;

				li{
					height: 100%;
					display: flex!important;

					.testi-wrap{
						margin: auto;

					}
				}
			}
		}

		.testi-wrap{
			text-align: center;

			span{
				font-weight: $mf;
				font-size: 110%;
				text-transform: capitalize;
				display: inline-block;
			}
		}
	}

	//*********UPSC PAGE STARTS HERE****************//

	.page-heading{
		font-weight: $lf;
		font-size: 450%;
		color: #fff;
	}

	.batches-container{
		margin-bottom: 50px;
	}

	.banner{
		background: url('../image/upscbg.jpg') 50% fixed;
		background-size: cover;


		.jumbotron{
			background: rgba(58, 162, 209,.6);
			height: 450px;
			display: flex;
			margin-bottom: 50px;

			h1{
				margin: auto;
			}
		}
	}

	.more-about-container{
		
			margin: 0;
			padding: 0;

			li{
				list-style-type: none;

			a {
				display: block;
				text-decoration: none;
				color: #fff;
				font-weight: $ltf;
				font-size: 115%;
				background: $lb;
				text-align: center;
				padding: 8px 0;
				text-transform: capitalize;
				transition: all .5s;
			}
			a:hover,
			.tab-title{
				color: $lb;
				background: #fff;
				font-weight: $rf;
			}
			
		}
	}

	 .more-about-content{
		/* height: 0;
		overflow: hidden; */

		overflow: auto;
		position: relative;
		height: 100%;
		background: #fff;

		> div {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			opacity:0;
			transition: opacity .5s ease-in-out;
		}

		.tab-show{
			opacity: 1;
		}

		.mac-title{
			display: none;
		}

		.mac-title > span{
			display: block;
				text-decoration: none;
				color: #fff;
				font-weight: $ltf;
				font-size: 115%;
				background: $lb;
				text-align: center;
				padding: 8px 0;
				text-transform: capitalize;
		}

	} 
	.introduction{
		margin-bottom: 50px;
		p {
			font-weight: $ltf;
		}
	}

	.detailed-info{
		margin-bottom: 50px;
	}

	.batches-container .card{
		transition: all .5s;
		background: #02d392;
		color: #fff;

		hr{
			border-color: rgba(255,255,255,.5);
		}
		a{
			opacity: 0;
		}
		.card-text{
			font-weight: $ltf;
			font-size: 95%;
		}

	}

	.batches-container .card:hover{
		transform: scale(1.05);
		box-shadow: 0 8px 15px rgba(0,0,0,.4);
		a{
			opacity: 1;
		}
	}

	/////////////////////////////////////////////////////
	/// Notification

	.no-bg{
		background: #04c187;
		padding: .7em;
		text-align: center;
	}

	.notifications{
		li{
			list-style-type: circle;

			a{
				font-size: 115%;
				font-weight: $rf;
				
				display: block;
				margin: 1em 0;
				color: #4f4f4f;
				text-decoration: none;

			}
			a:hover{
				color: $lb;
				text-decoration: none;

			}
		}
	}

	/////////////////////////////////////////////////////
	/// Blog

	.blog{
		.card{
			border: none;
		}
	}

////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

		@media only screen and (max-width: 991px){
			.nav-item a {	font-size: 95%; }
			.container{width: 100%!important;}
			.batches-container .card{margin-bottom: 30px;}
			}



		@media only screen and (max-width: 767px){
			
			body{
				font-size: 90%;
			}

			.container{
				width: 100%!important;
			}


			//Navigation Header

			nav {
				background: $db;
			}

			.site-logo {
				width: 215px;

				a{
					width: 215px;
				}
			}
			button.navbar-toggler{
				right: 0;
				top: 22px;
			}

			.nav-item a.active-nav{
				opacity:1;
			}

			.nav-item a,
			.nav-item:hover a{
				color: #fff;
				opacity: .6;
			}

			//Slider

			.slider .slides{
				width: 100%;
			}

			//Latest News

			.latest-news-section{
				height: auto;
			}
			
			.latest-news-title {
				width: 100%;
				height: 100px;

				.news-title-wrap{ 

					img{
						margin-bottom: 10px;
					}
					.title{
						margin-bottom: 0;
					}
				}
			}

			.latest-news-title:before{
				height: 15px;
				width: 15px;
				top: 90%;
				right: 47%;
			}

			.latest-news{
				width: 100%;
				padding: 30px 0;
			}

			//Testimonials

			.testimonials-section .testimonials{
				background-image: none;
			}



			/////////////////////
			//UPSC PAGE

			.detailed-info {

				.mac-content{
					height: 0;
					overflow: hidden;
				}

				.res-tab-content{
					height: auto;
				}

				.row .col-3 {
					display: none;
				}

				.more-about-content{
					max-height: none;
					height: auto;
					overflow-x: auto;
				}

				.more-about-content .mac-title{
					display: block;
				}

				.more-about-content>div {
					position: static;
					opacity: 1;
				}


			}
				.batches-container {
					.card{margin-bottom: 30px;

						a{
							opacity: 1;
						}}
					.card:hover{
						transform: scale(1);
					}
		
		}
	}








